.Dog-card {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.Dog-card img {
  height: 350px;
  object-fit: cover;
  filter: none;
  transition: 0.4s filter ease;
}
.Dog-card:hover img {
  filter: grayscale();
}
